<div>
  <span><%= check_box_tag "settings[override_issue_form]", true, Setting['plugin_redmine_customize_core_fields']['override_issue_form'] == 'true', :id => "override_issue_form" %></span>
  <span><%= l(:override_issue_form) %></span>
</div>

<% if Setting['plugin_redmine_customize_core_fields']['override_issue_form'] == 'true' %>
  <div>
    <span><%= check_box_tag "settings[display_custom_fields_first]", true, Setting['plugin_redmine_customize_core_fields']['display_custom_fields_first'] == 'true', :id => "display_custom_fields_first" %></span>
    <span><%= l(:display_custom_fields_first) %></span>
  </div>
<% end %>
